<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        {{>header}}
        <img class="imgClass" src="img/img1.png">
        {{>footer}}
    </body>
</html>
