<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div>
        {{>header}}
        <p>Search box</p>
        <form>
            <input type="text">
            <button>Submit</button>
        </form>
        
        <p id='message-1'></p>
        <p id='message-2'></p>
        {{>footer}}
        </div>
        <script src="/css/app.js"></script>
    </body>
</html>
